@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova_rg';
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 10px;
}
body {
  font-family: "ProximaNova_rg", sans-serif;
}
button:focus,
input:focus,
a:focus {
  outline: none;
}
section {
  padding: 10rem 0;
}
.section-header {
  margin: 2rem 0;
  margin-bottom: 10rem;
  text-align: center;
}
.section-header-light {
  color: #ffffff;
}
h2 {
  font-family: "ProximaNova_bold", sans-serif;
  font-size: 3rem;
}
p {
  font-size: 1.4rem;
}
.main {
  padding: 3rem 0 5rem;
  background: #ffffff url(../img/main-bg.jpg) center no-repeat;
  background-size: cover;
}
.main-down {
  background: #f5f5f5;
  padding: 3rem 0 5rem;
}
.main-content {
  margin-top: 10rem;
}
.main-content h1 {
  margin-top: 0;
  margin-bottom: 4rem;
  font-size: 4rem;
  text-transform: uppercase ;
  font-family: "ProximaNova_bold", sans-serif;
  line-height: 1.45;
}
.main-subtitle {
  font-size: 2.4rem;
  margin-bottom: 4rem;
}
.main-tag {
  display: inline-block;
  padding: 3rem 5rem;
  background-color: #46b814;
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
  border-radius: 1rem;
}
.main-tag strong {
  font-size: 3rem;
  font-family: "ProximaNova_bold", sans-serif;
}
.main-trigger {
  display: block;
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-top: 3rem;
  font-family: "ProximaNova_bold", sans-serif;
}
.main-form {
  background-color: #ffffff;
  padding: 4rem 5rem;
  width: 100%;
  text-align: center;
  border-radius: 1rem;
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.main-form-input {
  display: block;
  width: 100%;
  margin: 2rem 0;
  border: 1px solid #dddddd;
  padding: 1.5rem;
  border-radius: 5px;
  font-size: 1.5rem;
}
.main-form label {
  position: absolute;
  display: inline-block;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  font-size: 1.3rem;
  background-color: #ffffff;
}
.main-form-btn {
  display: block;
  width: 100%;
  height: 5.5rem;
  font-size: 1.6rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
  font-size: 1rem;
}
.header {
  height: 7rem;
}
.logo-down {
  text-align: left;
}
.logo-down img {
  width: 75%;
}
.logo-dev {
  text-align: right;
}
.logo-dev img {
  width: 70%;
}
.wrap {
  display: table;
  text-align: right;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.button {
  font-size: 1.3rem;
  padding: 1rem 3rem;
  border-radius: 8px;
  background-color: #fcb303;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #e3a103;
}
.phone-block {
  text-align: right;
}
.phone-block-down {
  margin-top: 0.5rem;
  text-align: center;
}
.phone-block-down p {
  font-size: 1.8rem;
  font-family: "ProximaNova_bold", sans-serif;
}
.phone-block-down a {
  font-size: 1.8rem;
  font-family: "ProximaNova_rg", sans-serif;
  color: black;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
.phone-link {
  display: inline-block;
  font-weight: 700;
  font-family: "ProximaNova_bold", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  height: 7rem;
  line-height: 7rem;
  color: #1a1820;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.phone-link:hover {
  color: #41aa13;
}
.phone-link-email a {
  font-size: 1rem;
}
/*Оформление преимуществ*/
.features-block {
  text-align: center;
}
.features-block h3 {
  font-family: "ProximaNova_bold", sans-serif;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.features-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.4rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
  margin-bottom: 3rem;
  text-align: auto;
}
.slick-active {
  outline: none;
}
.arrow {
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 4rem;
  border: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}
.prev {
  left: 0;
  background: url(../img/left-arrow.svg) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  background: url(../img/right-arrow.svg) center no-repeat;
  background-size: 70%;
}
/*Секция с ценами */
.price {
  background: url(../img/prices/prices-bg.jpg) center;
  /*Формы с тарифами*/
}
.price-header-btn {
  margin-top: 2.5rem;
}
.price-button {
  text-align: right;
}
.price-block {
  padding: 1rem 3rem 4rem;
  min-height: 50rem;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
  border-radius: 1rem;
}
.price-block h4 {
  font-size: 1.9rem;
  font-family: "ProximaNova_bold", sans-serif;
  margin: 3rem 0;
}
.price img {
  width: 100%;
  max-width: 40rem ;
  display: inline-block;
  margin-bottom: 2rem;
}
.price-tag {
  display: block;
  font-size: 1.9rem;
  font-family: "ProximaNova_bold", sans-serif;
  margin-bottom: 2rem;
}
.price-list {
  padding: 0;
  list-style: none;
  min-height: 14rem;
  font-size: 1.6rem;
}
.price-list li:before {
  content: "";
  display: inline-block;
  margin-right: 1rem;
  width: 1.4rem;
  height: 1.4rem;
  background: url(../img/prices/check.svg) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
}
/*Секция с отзывами*/
.feedback {
  position: relative;
  background: url(../img/feedback/feedback-bg.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
}
.feedback-prev-btn {
  left: -4rem;
}
.feedback-next-btn {
  right: -4rem;
}
.feedback-text {
  position: relative;
  width: 90%;
  margin-top: 1.5rem;
  font-style: italic;
  padding: 1rem;
  border: 2px solid #46b814;
}
.feedback-text:before {
  content: "";
  display: block;
  position: absolute;
  top: -19.9px;
  left: 4rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border: 2px solid #46b814;
  border-bottom: none;
  border-top-right-radius: 100px;
}
.feedback-slider {
  padding: 5rem 6rem;
  background-color: #ffffff;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
  border-radius: 1rem;
}
.feedback-slider .media {
  margin-top: 3rem;
  font-size: 1.4rem;
}
.feedback-slider .media span {
  text-align: left;
}
.feedback-slider .media h4 {
  text-align: left;
  font-family: "ProximaNova_bold", sans-serif;
  font-size: 1.8rem ;
}
.feedback-slider P {
  text-align: left;
  font-size: 1.6rem;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4rem;
  height: 5rem;
  background-color: #46b814;
  border: none;
}
.feedback-slider-btn img {
  width: 50%;
}
.feedback-form {
  text-align: center;
  background-color: #ffffff;
  margin-top: 5rem;
  padding: 4rem 10rem;
  width: 100%;
}
.feedback-form h3 {
  margin-bottom: 1rem;
  font-family: "ProximaNova_bold", sans-serif;
  font-size: 2.5rem;
}
.feedback-form-input {
  display: block;
  width: 100%;
  margin: 2rem 0;
  border: 1px solid #dddddd;
  padding: 1.5rem;
  border-radius: 5px;
  font-size: 1.3rem;
}
.feedback-form label {
  position: absolute;
  display: inline-block;
  -webkit-transform: translateX(-50%) translateY(6px);
          transform: translateX(-50%) translateY(6px);
  padding: 0.5rem;
  font-size: 1.3rem;
  background-color: #ffffff;
}
.feedback-form-btn {
  width: 30rem;
  height: 5.5rem;
  margin: auto;
  font-size: 1.5rem;
}
.hand {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 25%;
}
/*Схема работы*/
.scheme {
  background: #ffffff url(../img/scheme/hand.png) no-repeat;
  background-size: 50%;
  background-position: bottom right ;
  text-align: center;
}
.scheme-box {
  min-height: 30rem;
}
.scheme h3 {
  font-family: "ProximaNova_bold", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
/*Все на 100% включено*/
.all-inclusive {
  background: #f5f5f5;
  font-size: 1.3rem;
}
.all-inclusive .row {
  text-align: ;
}
.all-inclusive .d-flex {
  display: inline-block;
  min-height: 8rem;
}
.all-inclusive .d-flex h4 {
  font-family: "ProximaNova_bold", sans-serif;
  font-size: 1.6rem;
}
.all-inclusive .d-flex p {
  font-size: 1.3rem;
}
.circle {
  display: inline-block;
  background-color: #46b814;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  padding: 0.3rem;
  border: 2px solid #46b814;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: #ffffff;
  font-family: "ProximaNova_bold", sans-serif;
  font-size: 1.9rem;
}
/*Мы развеем все опасения*/
.problems {
  position: relative;
}
.problems-girl {
  position: absolute;
  width: 34rem;
  bottom: 0rem;
  left: 50%;
  margin-left: -21rem;
}
.problems-list {
  border: solid 4px;
  border-radius: 1rem;
  padding: 2rem;
  min-height: 37rem;
  margin-bottom: 3rem;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.problems-list-bad {
  border-color: #e8e8e8;
}
.problems-list-bad h4 {
  opacity: 100%;
  color: #e8e8e8;
}
.problems-list-bad ul li:before {
  background: url(../img/problems/cancel.svg) center no-repeat;
  background-size: 70%;
}
.problems-list-good {
  border-color: #46b814;
}
.problems-list-good ul li:before {
  background: url(../img/problems/check.svg) center no-repeat;
  background-size: 70%;
}
.problems-list h4 {
  font-family: "ProximaNova_bold", sans-serif;
  font-size: 2.1rem;
}
.problems-list ul {
  font-size: 1.6rem;
  padding-left: 0rem;
  padding-top: 2rem;
  list-style: none;
}
.problems-list ul li {
  position: relative;
  margin-bottom: 3rem;
  padding-left: 3.5rem;
}
.problems-list ul li:before {
  position: absolute;
  content: "";
  width: 3rem;
  height: 3rem;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
/*Блок с материалами*/
.material {
  background: #f5f5f5;
}
.material-slider {
  padding-top: 5rem;
}
.material-link {
  display: block;
  color: #46b814;
  font-size: 1.4rem;
  min-height: ;
}
.material-link:hover {
  color: #348a0f;
}
.material img {
  display: block;
  margin: 0 auto;
}
.material-offer {
  margin-top: 6rem;
  font-size: 1.8rem;
}
.material-offer a {
  color: #46b814;
  min-height: ;
}
.material-offer a:hover {
  color: #348a0f;
}
/*Оформление секции how*/
.how {
  background: url(../img/tour-bg.jpg) center no-repeat;
  background-size: cover;
}
.how-title h1 {
  font-size: 4rem;
  font-family: "ProximaNova_bold", sans-serif;
  margin-bottom: 2rem;
}
.how-form {
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
  border-radius: 1rem;
}
.how-form-header {
  font-family: "ProximaNova_rg", sans-serif;
  font-size: 2.2rem;
}
.how-form p {
  display: none;
}
.how-form small {
  font-size: 1.4rem;
}
.how-form-btn {
  font-size: 1.7rem;
}
/*Оформление секции доп-сервис*/
.upcell {
  background: url(../img/upcell/prices-bg.jpg) center no-repeat;
  background-size: cover;
  color: #ffffff;
}
.upcell-header h2 {
  font-size: 4.2rem;
}
.upcell-header p {
  margin-top: 1rem;
  font-size: 1.8rem;
}
.upcell-block {
  display: block;
  text-align: center;
}
.upcell-block img {
  border-radius: 1rem;
  width: 100%;
  max-width: 30rem;
}
.upcell-block h3 {
  margin-top: 2rem;
}
.upcell-btn {
  margin-top: 2rem;
  font-size: 1.6rem;
}
/*Оформление секции map*/
.map {
  background: url(../img/contact-bg.jpg) no-repeat center;
  background-size: cover;
}
.map p {
  font-size: 1.8rem;
}
.map-title h1 {
  font-size: 4rem;
  font-family: "ProximaNova_bold", sans-serif;
}
.map-title p {
  margin-top: 2rem;
}
.map-phone {
  margin-top: 2rem;
}
.map-email {
  margin-top: 2rem;
}
.map-email a {
  color: #46b814;
  text-decoration: none;
}
.map-email a:hover {
  color: #348a0f;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
.map-requisites {
  margin-top: 2rem;
}
.map-header {
  text-align: center;
  padding-bottom: 0.5rem;
}
.map-header p {
  font-size: 2rem;
  font-family: "ProximaNova_rg", sans-serif;
}
.map-form {
  font-family: "ProximaNova_bold", sans-serif;
  font-size: 1.8rem;
  width: 100%;
  margin-top: 2rem;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
  border-radius: 1rem;
}
.map-form-btn {
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "ProximaNova_rg", sans-serif;
}
/*Оформление всплывающих окон*/
.popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-order-one {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-order-two {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-order-three {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-upcell-one {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-upcell-two {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-upcell-three {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  left: 53%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 4rem 6rem;
  top: 10%;
  background-color: #ffffff;
}
.popup-form {
  margin-top: 3rem;
  padding: 0;
}
.popup-content {
  text-align: center;
}
.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  text-align: center;
  background-color: #fcb303;
  color: #ffffff;
  font-size: 1.5rem;
}
.popup-header {
  font-family: "ProximaNova_bold", sans-serif;
}
@media (max-width: 1199px) {
  .scheme {
    background-size: 65rem;
    background-position: bottom right;
  }
  .fotorama {
    margin-bottom: 3rem;
  }
  .main-content {
    margin-top: 8rem;
  }
  .main-title {
    padding: 3rem 0;
  }
  .phone-block {
    text-align: leftt;
  }
  .main-form {
    margin-top: 4rem;
    padding-bottom: 7rem;
    padding-top: 7rem;
  }
  .price-button {
    text-align: center;
    padding: 2rem 0;
  }
  .price-header-btn {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .price-block {
    margin-top: 2rem;
  }
  .problems-list {
    min-height: ;
  }
  .problems-girl {
    display: none;
  }
}
@media (max-width: 991px) {
  .scheme {
    background-size: 65rem;
    background-position: bottom right -10rem;
  }
  .main {
    background-position: top right ;
  }
  .phone-block {
    text-align: center;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    padding-bottom: 3rem ;
    text-align: center;
  }
  .price-button {
    text-align: center;
    padding: 2rem 0;
  }
  .price-header-btn {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .price-block {
    margin-top: 2rem;
  }
  .section-header-light {
    margin-bottom: 0;
  }
  .hand {
    display: none;
  }
  .feedback-form h3 {
    font-size: 2rem;
  }
  .problems-list {
    min-height: auto;
  }
  .problems-girl {
    display: none;
  }
  .material-offer {
    font-size: 2.1rem;
  }
  .how {
    background: url(../img/contact-bg.jpg) no-repeat center;
    background-position: left;
  }
  .how h1 {
    font-size: 4rem;
  }
  .how p {
    padding-top: 3.5rem;
    margin-top: 0rem;
    font-size: 2.5rem;
  }
  .how-form {
    margin-bottom: 6rem;
  }
  .upcell-header h2 {
    font-size: 4rem;
  }
  .upcell-header p {
    font-size: 1.5rem;
  }
  .upcell-block {
    margin-bottom: 3.5rem;
  }
  .map {
    background-position: left;
  }
  .map p {
    font-size: 2rem;
  }
  .map .map-subtitle {
    font-size: 2.3rem;
  }
  .map-header p {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .map-title h1 {
    font-size: 5rem;
  }
  .map-phone {
    text-align: center;
    padding-top: 3rem;
  }
  .map-email {
    text-align: center;
  }
  .map-requisites {
    text-align: center;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .scheme {
    background: none;
  }
  .scheme-box {
    text-align: center;
  }
  .main {
    background-position: top left;
    text-align: center;
  }
  .main-title h1 {
    font-size: 3rem;
    font-family: "ProximaNova_bold", sans-serif;
    margin-top: 4rem;
  }
  .main .main-subtitle P {
    margin-bottom: 4rem;
  }
  .main-down {
    background: #f5f5f5;
    padding: 3rem 0 32rem;
  }
  .phone-block-down {
    text-align: center;
  }
  .phone-block-down p {
    font-size: 2rem;
  }
  .phone-block-down p a {
    font-size: 2rem;
  }
  .logo {
    padding-top: 2rem;
  }
  .logo-down {
    text-align: center;
    padding-bottom: 3rem;
  }
  .logo-down img {
    width: 40%;
  }
  .logo-dev {
    text-align: center;
    padding-top: 3rem;
  }
  .logo-dev img {
    width: 38%;
  }
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .main-title {
    padding-top: 12rem;
  }
  .feedback-prev-btn {
    left: 0rem;
  }
  .feedback-next-btn {
    right: 0rem;
  }
  .feedback-text {
    position: relative;
    width: 98%;
    margin-top: 1.5rem;
    left: 5px;
    font-style: italic;
    padding: 1rem;
    border: 2px solid #46b814;
  }
  .feedback-text:before {
    content: "";
    display: block;
    position: absolute;
    top: -19.9px;
    left: 3rem;
    width: 2rem;
    height: 2rem;
    background-color: #ffffff;
    border: 2px solid #46b814;
    border-bottom: none;
    border-top-right-radius: 100px;
  }
  .feedback-slider {
    padding: 5rem 6rem;
    background-color: #ffffff;
    -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
            box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
  }
  .feedback-slider P {
    font-size: 1.8rem;
  }
  .feedback-form-btn {
    margin-top: 1.8rem;
    width: 100%;
  }
  .problems-girl {
    display: none;
  }
  .material-offer {
    font-size: 1.7rem;
  }
  .how {
    padding-top: 0rem;
    background: url(../img/contact-bg.jpg) no-repeat center;
    background-position: left;
  }
  .how h1 {
    font-size: 4rem;
  }
  .how p {
    padding-top: 3.5rem;
    margin-top: 0rem;
    font-size: 2rem;
  }
  .how-form {
    margin-bottom: 6rem;
  }
  .upcell-header h2 {
    font-size: 4rem;
  }
  .upcell-header p {
    font-size: 1.5rem;
  }
  .upcell-block {
    margin-bottom: 3.5rem;
  }
  .map {
    background-position: left;
    padding-top: 0rem;
  }
  .map p {
    font-size: 2rem;
  }
  .map .map-subtitle {
    font-size: 2.3rem;
  }
  .map-title h1 {
    font-size: 5rem;
  }
  .map-phone {
    text-align: center;
    padding-top: 3rem;
  }
  .map-email {
    text-align: center;
  }
  .map-requisites {
    text-align: center;
    margin-bottom: 2rem;
  }
}
