@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Secular+One&display=swap');

/* 
  font-family: "Secular One", serif;
  font-family: "PT Sans", serif;
  font-family: "Fira Sans Condensed", serif;
*/

body{
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 14px;
}

.container{
    max-width: 1920px;
}

/* header */

.header {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 2fr 1fr 2.5fr 0.5fr;
  grid-template-areas: ". logo nav search";

  /* grid-template: "logo nav search" max-content / 1fr 1fr 100px; */
  align-items: center;
  justify-items: start;
  padding: 20px 0;
  overflow: hidden;
}


.logo {
  grid-area: logo;
  justify-self: start;
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  color: #EB564F;
  font-size: 24px;
  width: 150px;
  line-height: 1;
  transition: color 0.3s;

}

.header__nav {
  grid-area: nav;
  transform: translateX(-15px);

}

.header__nav ul{
  display: flex;
  gap: 10px;
}

.header__nav a{
  padding: 15px;
  transition: color 0.3s;
  position: relative;
  display: inline-block;
}

/* .header__nav a:first-child{
  padding-left: 0;
} */

.header__nav a:hover, .logo:hover{
  color: #54B9B4;
}

.header__nav a:active{
  color: #44A7A2;
}

.header__nav a::after{
  content: "";
  display: block;
  width: 80%;
  height: 100%;
  background-color: #54B9B4;
  position: absolute;
  left: 15px;
  bottom: -200%;
  transition: bottom 0.5s, background-color 0.2s;
}


.header__nav a:hover::after{

  bottom: -80%;

}

.header__nav a:active::after{
  background-color: #44A7A2;
}

.header__search {
  grid-area: search;

}

.header__icon {
  transition: fill 0.3s;
}

.header__icon:hover{
  fill: #54B9B4;
}

.header__icon:active{
  fill: #44A7A2;
}

/* main */

.main {
  display: grid;
  grid-template:"slider-arrows healthy thirsty thirsty" 3fr
                "slider-arrows healthy slider-dots orange" 1fr
                "freshy healthy slider-dots orange" 3fr / 2fr 1fr 1.5fr 1.5fr;
}

/* slider arrows */

.slider-arrows {
  grid-area: slider-arrows;
  position: relative;
}

.slider-arrows__items-wrappers {
  width: 100%;
  height: 100%;
  filter: brightness(90%);

  display: flex;
}

.slider-arrows__item {

}

.slider-arrows__nav {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  transform: translateY(-50%);
}

.slider-arrows__arrow {
  color: #fff;
  font-size: 30px;
  border: 2px solid #fff;
  border-radius: 50%;

  width: 50px;
  height: 50px;
  transition: opacity 0.2s;
}

.slider-arrows__arrow:hover{
  opacity: 0.8;
}

.slider-arrows__arrow:active{
  opacity: 0.6;
}

.slider-arrows__arrow--left {

}

.btn {
  color: #fff;
  letter-spacing: 2px;
  border: 2px solid #fff;
  padding: 10px 20px;
  font-size: 16px;
  transition: opacity 0.2s;

}

.btn:hover{
  opacity: 0.8;
}

.btn:active{
  opacity: 0.6;
}

.slider-arrows__btn {

}

.slider-arrows__arrow--right {

}

/* slider dots */

.slider__dots {
  grid-area: slider-dots;
  position: relative;
}

.slider-dots__items-wrappers {

  width: 100%;
  height: 100%;
  filter: brightness(90%);

  display: flex;
  
}

.slider-dots__item {

}

.slider-dots__btn-wrapper {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {

}

.slider-dots__btn {

}

.slider-dots__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 100%;

  position: absolute;
  left: 0;
  bottom: 30px;
  
}

.slider-dots__nav-item {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  transition: opacity 0.2s;

}

.slider-dots__nav-item:hover{
  opacity: 0.8;
}


.slider-dots__nav--active {
  background-color: transparent;
  border: 1px solid #fff;
}



/* freshy */

.freshy {
  grid-area: freshy;
  background-color: #BEE163;
}

.common {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px ;
}

.title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 24px;
  width: 140px;
  font-weight: 300;
  line-height: 1;
}

.title  span{
  display: block;
  font-size: 60px;
  font-weight: normal;
  letter-spacing: 2px;
}

.title span::first-line{
  font-weight: 900;
}

.common__desc {
  max-width: 60%;
  hyphens: auto;
}

/* healthy and thirsty*/

.healthy {
  grid-area: healthy;
  background-color: #FF494B;
  padding-bottom: 65px;
}


.common--col-rev {
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.common--col-rev .common__desc{
  max-width: 140px;
}

.common__desc {

}

.thisrty {
  grid-area: thirsty;
  background-color: #FFBA4A;
}

.common--row-rew {
  flex-direction: row-reverse;

}

.common--row-rew .common__desc{
  text-align: right;
}

.thisrty .common__desc{
  max-width: 200px;
}

/* orange */

.orange {
  grid-area: orange;
  position: relative;
}

.slider-orange__item {
  width: 100%;
  height: 100%;
  filter: brightness(70%);
}

.orange__btn-wrapper {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
/* 
  transform: translate(-50%,-50%); */
}


.orange__nav {

}

.orange__arrow {
  position: absolute;
  bottom: 20px;
  right: 20px;
  transition: 0.2s opacity;
}

.orange__arrow:hover{
  opacity: 0.8;
}

.orange__arrow:active{
  opacity: 0.6;
}



.wrapper-dowm {
  display: grid;
  grid-template: "footer sidebar" 1fr / 4.5fr 1.5fr;
}

/* footer */

.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1fr;
  grid-template-rows: max-content 100px;
  grid-template-areas: ". socials form logo"
                       ". . . copy";
  align-items: end;
  align-content: center;
  background-color: #2f2f2f; 

  color: #fff;

  padding-top: 80px;
  /* padding-bottom: 80px; */
}

.socials {
  grid-area: socials;
  display: flex;
  gap: 10px;
}

.socials__link {
  border: 2px solid #fff;
  border-radius: 50%;

  width: 40px ;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s;
}

.socials__link:hover{
  opacity: 0.8;
}
.socials__link:active{
  opacity: 0.6;
}

.form {
 grid-area: form;
 text-transform: uppercase;
}

.form__title {
  font-size: 18px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.form_row {
 display: flex;
}

.form__input {
  height: 40px;
  width: 200px;
  padding: 0 15px;
  outline: none;
  background-color: #ffffffc1;
}

.form__input:focus{
  background-color: #fff;
  text-transform: uppercase;
}

.form__submit-btn {
  background-color: #00C2BA;
  color: #fff;
  height: 40px;
  padding: 0 20px;
  text-transform: uppercase;
  letter-spacing: 2px;

  transition: background-color 0.2s;
}

.form__submit-btn:hover{
  background-color: #44A7A2;
}

.form__submit-btn:active{
  background-color: #44a7a2e2;
}

.footer__logo {
  grid-area: logo;
  width: 20%;

  
}

.copy {
  grid-area: copy;
  color: #6a6a6a;
  align-self: center;

}

/* sidebar */

.sidebar {
  grid-area: sidebar;
  background-color: #54B9B4;
}

.sidebar .title{
  width: 100px;
}

.sidebar p{
  max-width: 200px;
}

.btn--rounded {
  border-radius: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.sidebar p + .btn{
  margin-top: 20px;
}

.slider-arrows__item, .slider-dots__item{
  width: 100%;
  height: 100%;
}

.slider-arrows, .slider__dots, .orange{
  height: 400px;
}

@media(max-width:1300px){
  .footer{
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: max-content 100px;
    grid-template-areas: "socials form logo"
                         " . . copy";
    padding-left: 3%;
  }
}

@media(max-width:1200px){
  .main{
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-template-areas: "freshy freshy freshy healthy"
                          "slider-arrows slider-arrows slider-arrows healthy"
                          "thirsty thirsty thirsty thirsty"
                          "slider-dots slider-dots orange orange";
                          
  }
  .slider-arrows, .slider__dots, .orange{
    height: 300px;
  }
  .slider-arrows__item, .slider-dots__item{
    width: 100%;
    height: 100%;
  }
  .wrapper-dowm{
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "sidebar" "footer";
  }
  .common--row-rew{
    padding-right: 90px;
  }
  .sidebar .common{
    width: 200px;
  }
  .sidebar{
    padding-left:130px;
  }
  .header{
    grid-template-columns: repeat(3, max-content) ;
    grid-template-areas: "logo nav search";
    justify-content: space-between;
    padding: 20px;
  }
}

@media(max-width:760px){
  .footer{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "socials" "form" "logo" "copy";
    justify-items: center;
    gap: 30px;
    text-align: center;
    padding: 40px 20px;
  }
  .footer__logo{
    width: 10%;
  }
}

@media(max-width:700px){
  .header__nav{
    display: none;
  }
}

@media(max-width:600px){
  .main{
    grid-template-columns: 1fr;
    grid-template-areas: "healthy" "slider-arrows" "freshy" "slider-dots" "thirsty" "orange";

  }
  .healthy{
    padding-bottom: 30px;

  }
  .common__desc{
    max-width: unset;
  }
  .common--col-rev{
    flex-direction: row-reverse;
    justify-content: center;

  }
  .common--col-rev .common__desc, .thisrty .common__desc, .sidebar .common__desc p{
    max-width: unset;
  } 
  .common--row-rew{
    padding-right: 30px;
  }
  .sidebar{
    padding-left: 30px;
  }
}

@media(max-width:350px){
  .common{
    padding: 15px;
    gap: 15px;
  }
  .form__input{
    width: 170px;
  }
  .header, .footer{
    padding-left: 10px;
    padding-right: 10px;
  }
}


/* burger menu */

.menu__icon {
  width: 30px;
  height: 30px;
  position: relative;
}



.menu__icon::after, .menu__icon::before{
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #2f2f2f;

  position: absolute;
  left: 0;

} 


.menu__icon::before{
  top: 0;

  
  transition:transform 0.2s, top 0.2s 0.2s;
}

.menu__icon::after{
  bottom: 0;

  transition:transform 0.2s, bottom 0.2s 0.2s;
}


.menu__icon-line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #2f2f2f;
}


.menu__icon--active .menu__icon-line{
  display: none;
}

.menu__icon--active::before{
  transform: translateY(-50%) rotate(45deg);
  top: 50%;

  transition: top 0.2s, transform 0.2s 0.2s;
}

.menu__icon--active::after{
  transform: translateY(50%) rotate(-45deg);
  bottom: 50%;

  transition: bottom 0.2s, transform 0.2s 0.2s;
}

.menu__icon{
  display: none;
}

@media(max-width:700px){
  .header{
    grid-template-columns: repeat(2, max-content);
    grid-template-areas: "logo menu__icon";
  }
  .header__search{
    display: none;
  }
  .menu__icon{
    display: block;
    grid-area: menu__icon;
    /* justify-self: end; */
  }

  .header--mobile{
    min-height: 100vh;

    grid-template:"logo menu__icon" max-content
                  "nav nav" max-content
                  "search search";
    align-content: space-between;
    justify-items: center;

  }
  .header--mobile .header__search, .header--mobile .header__nav{
    display: block;
  }

  .header__nav{
    transform: none;
  }

  .header__nav ul{
    flex-direction: column;
    align-items: center;

  }

  .header__nav a::after{
    display: none;
  }


}

button{
  -webkit-tap-highlight-color: transparent;
}

.slider-arrows__item, .slider-dots__item{
  animation: fade 0.5s;
}


@keyframes fade {
  0%{
    opacity: 0.3;
  }
  100%{
    opacity: 1;
  }
}