@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Noto Sans", sans-serif; */
/* font-family: "Montserrat", sans-serif; */
/* font-family: "Avenir";  */


@font-face {
    font-family: "Avenir"; 
    src: url("../fonts/Avenir-Heavy.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 900; 
  } 

body{
    margin: 0;;
    font-family: "Noto Sans", sans-serif;
    background-color: black;
    color: #fff;

} 

html, body{
    overflow-x: hidden;
}

.container{
    
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;

}

.container--small{
    max-width: 1000px;

}

.main {
}



a{
    text-decoration: none;
    color: #fff;
    transition: opacity 0.3s;
}

a:hover{
    opacity: 0.8;
}

a:active{
    opacity: 1;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin: 0;
}

h2{
    font-size: 51px;
}

p{
    margin: 0;
}

/* header */

.header{
}

.header .container {
    display: flex;
    align-items: center;
    gap: 110px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
    
}

.header__cube {

}

.header__notab {

}

.header__login {
    display: flex;
    align-items: center;
    gap: 12px;

    font-weight: 500;
    font-size: 18px;

    text-decoration: underline;

}

/* section welcome */


.welcome {
    padding-bottom: 50px;

}

.welcome__container{
    position: relative;
}

.welcome__container::after{
    content: "";
    width: 660px;
    height: 790px;
    background-image: url(../img/bg-welcome.svg);
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    right: -170px;
    top: -240px;
    z-index: -10;

    transform: rotate(-105deg);


}


.welcome__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    min-height: 700px;
}

.welcome__desc {

}

.welcome__title {
    font-size: 64px;
    line-height: 1.09;
    margin-bottom: 130px;
}

.welcome__text {
    font-size: 20px;
    padding-left: 130px;
    width: 380px;
    position: relative;
}

.welcome__text::before{
    content: "";
    width: 130px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 25px;
    transform: rotate(120deg);
    z-index: -5;

}   

.welcome__text::after{
    content: "";
    position: absolute;
    width: 125px;
    height: 125px;
    z-index: -10;

    left: 20px;
    top: -80px;

    background: rgba(96, 92, 234, 0.5);
    filter: blur(50px);

    animation: light 2s infinite alternate;
    
}

@keyframes light {
    0% {
        background:  rgba(96, 92, 234, 0.3);
    }
    100% {
        background:  rgba(96, 92, 234, 0.7);
    }
}

.welcome__image {
    width: 600px;
    position: absolute;
    right: -30px;
    top: -140px;
    z-index: -5;

}

.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.welcome__row-cta{
    padding-right: 60px;

}

.cta__text {
    font-family:"Montserrat", sans-serif ;
    font-weight: 700;
    font-size:35px ;
}

.cta__links {
    display: flex;
    gap: 30px ;
    /* z-index: 1; */
}

.cta__link {

}

.cta__im {

}

/* section mission */

.mission {
    padding: 150px 85px;

    position: relative;
}

.mission .container {

}

.mission__img {
    transform: rotate(90deg) translate(-43%);
    position: absolute;
    top: 0;
    right: 50%;
    z-index: -1;
    
}

.mission__desc {
    width: 330px;
    margin-left: auto;

}

.mission__title {
    margin-bottom: 30px;
    position: relative;

}

.mission__title::after{
    content: "";
    width: 85px;
    height: 85px;
    background: #F010BF;
    opacity: 0.7;
    filter: blur(50px);
    position: absolute;
    right: 55px;
    top: 7px;
    z-index: -1;

    animation: lighter 2s infinite alternate;
}

@keyframes lighter {
    0% {
      opacity: 0.7;
    }
    100% {
        opacity: 1;
    }

}

.mission__text {

}

/* section ID */

.common__id {
    margin-top: 100px;
    padding: 50px 0;
    background: linear-gradient(180deg, black -3% , rgba(0,0,0,0) 56%, black 84%), url(../img/louis-hansel-shotsoflouis-_6ZqQc02NYc-unsplash.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}

.common .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.common__img {

}

.common__id-desc {
    max-width: 410px;
}

.common__title {
    margin-bottom: 20px;
}

.common__text {
    font-size: 18px;
}

/* section qr */

.common__qr{
    margin-top: 100px;
    padding: 50px 0;
    background: linear-gradient(180deg, black -3% , rgba(0,0,0,0) 56%, black 84%), url(../img/marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.common__qr .container{
    display: flex;
    flex-direction: row-reverse;
}

.common__qr-desc{
    max-width: 410px;
} 

/* footer */

.footer{
    padding-top: 100px;
    padding-bottom: 50px;
    overflow: hidden;
}

.footer__container{
    position: relative;
}

.footer__container::before{
    content: "";
    position: absolute;
    left: -170px;
    bottom: -200px;
    z-index: -1;

    width: 400px;
    height: 400px;

    background: linear-gradient(12deg, #F010BF 3%, #0066FF 97%);
    opacity: 0.3;
    filter: blur(125px);
    transform: rotate(6deg);


}

.footer__row-cta{

    flex-direction: column;
    gap: 30px;

    margin-bottom: 120px;


}

.footer__row-cta .cta__text{
    
    font-size: 24px;
}

.footer__row-cta .cta__img{
    height: 80px;
}

.cta__links{
    gap: 60px;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: "Avenir";
    font-weight: 900; 
    font-size: 18px;

}

.footer__content {
    /* display: flex;
    flex-direction: column;
    gap: 15px; */

}

.footer__logo-link {

}

.footer__contact {

}

.footer__copy {

}

.footer__links {
    /* display: flex;
    flex-direction: column;
    gap: 15px; */
}

.footer__link {

}

.footer__row > * {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


@media(max-width:940px){
    .welcome__image{
        right: -190px;
    }
    .welcome__row-cta{
        padding-right: 0;
    }
    .cta__text{
        font-size: 24px;
    }

    .mission__img{
        right: 60%;
    }
    .mission{
        padding: 150px 0;

    }

    .common__id-desc{
        max-width: 380px;
    }
    .common__qr-desc{
        max-width: 380px;
    }

    .mission__desc{
        width: unset;
        max-width: 380px;
    }
}

@media(max-width:767px){
    .header{
        padding: 20px 0;
    }
    .header__cube{
        width: 70px;
    }
    .header__notab{
        width: 70px;
    }
    .header .container{
        justify-content: space-between;
        gap: 0;
    }

    .header__login img{
        display: none;
    }
    .welcome__row {
        min-height: 420px;
        margin-bottom: 40px;
    }
    .welcome__title{
        font-size: 35px;
        margin-bottom: 25px;
        
    }
    .welcome__text{
        padding-left: 0;
        font-size: 16px;
        width: 60%;
    }
    .welcome__text::before, .welcome__text::after{
        display: none;
    }
    .welcome__image{
        width: 350px;
        right: -60px;
        top: -60px;
    }
    .welcome__row-cta .cta__img{
        height: 60px;
        width: 200px;

    }

    .welcome__container::after{
        width: 700px;
        height: 826px;

        right: -140px;
        top: -190px;

        background-image: url(../img/bg-welcome-mobile.svg);
        background-size: contain;
        background-repeat: no-repeat;
        transform: rotate(-90deg);

    }

    .footer__row-cta .cta__img{
        height: 60px;
        width: 200px;

    }
    .cta{
        flex-direction: column;
        gap: 40px;
    }
    .cta__links{
        display: flex;
        flex-direction: column;
        gap: 25px;
        
    }
    .mission{
        padding: 50px 0 0;
    }
    .mission__img{
        position: static;
        transform: none;
        width: 320px;
        align-self: center;
        margin-top: -20px;


    }
    .mission .container{

        display: flex;
        flex-direction: column-reverse;

        

    }
    .mission__desc{
        margin-left: unset;
        max-width: unset;
    }
    .mission__title{
        margin-bottom: 25px;
    }

    .mission__title::after{
        right: auto;
        left: -24px;
        top: -28px;
    }

    h2{
        font-size: 24px;
    }
    body{
        font-size: 16px;
    }
    .common{
        margin-top: 70px;
        padding: 0;
    }
    .common__id{
        margin-top: 0;
    }
    .common__id, .common__qr{
        background: none;
    }
    .common__id::before{
        content: "";
        display: block;
        width: 100%;
        height: 300px;

        background: linear-gradient(180deg, black -2% , rgba(0,0,0,0) 56%, black 84%), url(../img/louis-hansel-shotsoflouis-_6ZqQc02NYc-unsplash.jpg);
        background-size: cover;


        margin-bottom: -50px;
    }
    .common .container{
        flex-direction: column-reverse;
        align-items: unset;
        gap: 70px;
    }

    .common__id-desc, .common__qr-desc{
        max-width: 100%;
    }

    .common__img{
        align-self: center;
        width: 280px;
    }
    .common__qr::before{
        content: "";
        display: block;
        width: 100%;
        height: 300px;

        background: linear-gradient(180deg, black -2% , rgba(0,0,0,0) 56%, black 84%), url(../img/marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg);
        background-size: cover;
        background-position:center;


        margin-bottom: -50px;
    }
    .footer{
        padding: 70px 30px;

    }
    .footer__row-cta{
        margin-bottom: 60px;
    }
    .footer__row{
        flex-direction: column-reverse;
        text-align: center;
        gap: 60px;


    }
    .footer__contact{
        gap: 12px;
    }

}

@media (max-width:520px){
    .welcome__image{
       right: -160px;
    }
    .header__cube{
        width: 50px;
    }
    .header__notab{
        width: 50px;
    }
    .header__login{
        font-size: 15px;
    }


}

@media (max-width:420px){
    .welcome__title{
        max-width: 70%;
    }
}