@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Noto Sans", sans-serif; */
/* font-family: "Montserrat", sans-serif; */
/* font-family: "Avenir";  */


@font-face {
    font-family: "Avenir"; 
    src: url("../fonts/Avenir-Heavy.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 900; 
  } 

body{
    margin: 0;;
    font-family: "Noto Sans", sans-serif;
    background-color: black;
    color: #fff;

} 

html, body{
    overflow-x: hidden;
}

.container{
    
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;

}

.container--small{
    max-width: 1000px;

}

.main {
}



a{
    text-decoration: none;
    color: #fff;
    transition: opacity 0.3s;
}

a:hover{
    opacity: 0.8;
}

a:active{
    opacity: 1;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin: 0;
}

h2{
    font-size: 51px;
}

p{
    margin: 0;
}

/* header */

.header{
}

.header .container {
    display: flex;
    align-items: center;
    gap: 110px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
    
}

.header__cube {

}

.header__notab {

}

.header__login {
    display: flex;
    align-items: center;
    gap: 12px;

    font-weight: 500;
    font-size: 18px;

    text-decoration: underline;

}

/* section welcome */


.welcome {
    padding-bottom: px;

}

.welcome__container{
    position: relative;
}

.welcome__container::after{
    content: "";
    width: 660px;
    height: 790px;
    background-image: url(../img/bg-welcome.svg);
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    right: -170px;
    top: -240px;
    z-index: -10;

    transform: rotate(-105deg);


}


.welcome__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    min-height: 700px;

}

.welcome__desc {

}

.welcome__title {
    font-size: 64px;
    line-height: 1.09;
    margin-bottom: 130px;
}

.welcome__text {
    font-size: 20px;
    padding-left: 130px;
    width: 380px;
    position: relative;
}

.welcome__text::before{
    content: "";
    width: 130px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 25px;
    transform: rotate(120deg);
    z-index: -5;

}   

.welcome__text::after{
    content: "";
    position: absolute;
    width: 125px;
    height: 125px;
    z-index: -10;

    left: 20px;
    top: -80px;

    background: rgba(96, 92, 234, 0.5);
    filter: blur(50px);

    animation: light 2s infinite alternate;
    
}

@keyframes light {
    0% {
        background:  rgba(96, 92, 234, 0.3);
    }
    100% {
        background:  rgba(96, 92, 234, 0.7);
    }
}

.welcome__image {
    width: 600px;
    position: absolute;
    right: -30px;
    top: -140px;
    z-index: -5;

}

.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.welcome__row-cta{
    padding-right: 60px;
    margin-bottom: 50px;

}

.cta__text {
    font-family:"Montserrat", sans-serif ;
    font-weight: 700;
    font-size:35px ;
}

.cta__links {
    display: flex;
    gap: 30px ;
    /* z-index: 1; */
}

.cta__link {

}

.cta__im {

}

/* section mission */

.mission {
    padding: 150px 85px;

    position: relative;
}

.mission .container {

}

.mission__img {
    transform: rotate(90deg) translate(-43%);
    position: absolute;
    top: 0;
    right: 50%;
    z-index: -1;
    
}

.mission__desc {
    width: 330px;
    margin-left: auto;

}

.mission__title {
    margin-bottom: 30px;
    position: relative;

}

.mission__title::after{
    content: "";
    width: 85px;
    height: 85px;
    background: #F010BF;
    opacity: 0.7;
    filter: blur(50px);
    position: absolute;
    right: 55px;
    top: 7px;
    z-index: -1;

    animation: lighter 2s infinite alternate;
}

@keyframes lighter {
    0% {
      opacity: 0.7;
    }
    100% {
        opacity: 1;
    }

}

.mission__text {

}

/* section ID */

.common__id {
    margin-top: 100px;
    padding: 50px 0;
    background: linear-gradient(180deg, black -3% , rgba(0,0,0,0) 56%, black 84%), url(../img/louis-hansel-shotsoflouis-_6ZqQc02NYc-unsplash.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}

.common .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.common__images {
    display: flex;
    gap: 50px;
}


.common__id-desc {
    max-width: 410px;
}

.common__title {
    margin-bottom: 20px;
}

.common__text {
    font-size: 18px;
}

/* section bi */
.common__bi{
    margin-top: 100px;
    padding: 50px 0;
}
.common__bi .container{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;

    position: relative;

 }
 .common__bi .container::after{
    content: "";
    width: 1000px;
    height: 1000px;
    background-image: url(../img/bg-welcome.svg);
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    right: -130px;
    top: -340px;
    z-index: -10;

    transform: rotate(-105deg);

    animation: lighter 2s infinite alternate;
 }

 .common__bi-desc {
    margin-top: 90px;
 }

 .common__bi-desc .common__text{
    max-width: 410px;
 }


/* section qr */
.common__qr{
    margin-top: 100px;
    padding: 50px 0;
    background: linear-gradient(180deg, black 3% , rgba(0,0,0,0) 50%, black 73%);
    position: relative;




}


.common__qr-bg{
    display: flex;
    position: absolute;
    z-index: -1;
}


.common__qr-bg-img1{
    width: 811px;
    height: 700px;


}
.common__qr-bg-img2{
    height: 700px;
}   

.common__qr-about{
    margin-top: 200px;
}
/* .common__qr::after{
    content: "";
    width: 730px;
    height: 620px;
    background: linear-gradient(180deg, black -3% , rgba(0,0,0,0) 56%, black 84%), url(../img/ash-edmonds-fsI-_MRsic0-unsplash.jpg) ;
    position: absolute;

    right: 0;
    top:0px;

} */

.common__qr .container{}

.common__qr .container::after{
    content: "";
    width: 139px;
    height: 55px;
    background-image: url(../img/Nightlife.svg);
    position: absolute;
    right: 80px;
    top: 0px;
    transform: rotate(-12deg);
    z-index:10;
}

.scan-qr{
}


.cta__links-qr{
    display: flex;
    gap: 30px;
}



.common__qr-about {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 140px;
    position: relative;
    
}


.common__img-qr--mobile{
    width: 333px;    
    position: absolute;
    right: -55%;
    bottom: -50%;
}

.common__qr-desc{
    max-width: 320px;
} 

.common__qr-desc p{
    margin-bottom: 60px;
}


/* section scanner-qr */

.scanner__qr {
    padding-top: 300px;
    position: relative;


}



.scanner__qr .container {
    position: relative;
}

.scanner__qr-image{
    display: block;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}

.scanner__qr-image::after{
    content: "";
    width: 100px;
    height: 35px;
    background: url(../icons/Arrow-1.svg);
    background-repeat: no-repeat;
    position: absolute;
    transform: rotate(10deg);

    right: 310px;
    top: 210px;

}

.scanner__qr-image::before{
    content: "Scan QR-code";
    font-family: "Montserrat", sans-serif;
    font-size: 23px;
    font-weight: 700;
    position: absolute;
    
    right: 180px;
    bottom: 57%;
}

.scanner__qr .container::after{
    content: "";
    width: 1000px;
    height: 1000px;
    background: url(../img/bg-scanner.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 120px;
    bottom: 18%;
    z-index: -1;


}



.scanner__qr .container::before{
    content: "";
    width: 125%;
    height: 100%;
    background: url(../img/NOTAB.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -15%;
    bottom: -20%;
    z-index: -1;
}

.scanner__qr-desc{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.scanner__qr-text{
   max-width:300px;
   font-size: 18px;
}
.common__img {

}

/* section ordering */
.ordering {
    margin-top: 200px;
}

.container {

}

.ordering__desc {
    width: 421px;
    margin-left: auto;
    margin-bottom: 0x;
    position: relative;
}

.ordering__desc::after{
    content: "";
    width: 287px;
    height: 287px;
    background: rgb(241,1,191);
    background: linear-gradient(40deg, rgba(241,1,191,1) 26%, rgba(0,102,255,1) 100%);
    opacity: 0.2;
    filter: blur(80px);
    border-radius: 50%;
    position: absolute;

    right: -250px;
    top: 200px;
}


.ordering__image{
    text-align: center;
    position: relative;

}
.ordering__img{
    max-width: 100%;
}

.ordering__image::after{
    content: "No more lost or forgotten credit cards";
    font-size: 20px;
    max-width: 210px;
    position: absolute;
    padding: 22px;
    background-color: #000000;
    border: 1px solid #fff;
    border-radius: 15px;
    text-align: left;

    right: 360px;
    top: 150px;
}

.ordering__image::before{
    content: "No more lost or forgotten credit cards";
    font-size: 20px;
    max-width: 210px;
    position: absolute;
    padding: 22px;
    background-color: #000000;
    border: 1px solid #fff;
    border-radius: 15px;
    text-align: left;

    left: 180px;
    top: 320px;
    
}

.ordering__bx{
    font-size: 20px;
    position: absolute;
    max-width: 185px;
    padding: 20px;
    background-color: #000000;
    border: 1px solid #fff;
    border-radius: 20px;
    text-align: left;


    right: 220px;
    bottom: 250px;
}

.ordering__bx-skip{
    font-size: 20px;
    position: absolute;
    padding: 20px 20px;
    background-color: #000000;
    border: 1px solid #fff;
    border-radius: 15px;
    text-align: left;


    left: 395px;
    bottom: 190px;
}

.ordering__title {

}



.ordering-text {

}

/* section notab */

.notab {
    padding: 300px 0;
    background: linear-gradient(180deg, black -3% , rgba(0,0,0,0) 50%, black 100%), url(../img/bg-notab.svg) ;
    background-size: cover;
    background-position: center;

}
.notab .container {
    text-align: center;
}
.notab__img {
    max-width:100% ;
}

/* section form */
.form {
    position: relative;

}
.form__title{
    z-index: 1;
}
.form::after{
    content: "";
    width: 287px;
    height: 287px;
    position: absolute;
    background: rgb(241,1,191);
    background: linear-gradient(40deg, rgba(241,1,191,1) 26%, rgba(0,102,255,1) 100%);
    border-radius: 50%;
    opacity: 0.2;
    filter: blur(80px);

    left: 30%;
    top: -80px;

}
.form::before{
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
    background: rgb(241,1,191);
    background: linear-gradient(40deg, rgba(241,1,191,1) 26%, rgba(0,102,255,1) 100%);
    border-radius: 50%;
    opacity: 0.2;
    filter: blur(80px);

    right: -80px;
    bottom: 30px;


}


.form .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 823px;
    gap: 70px;

}


.form__box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 23px;
    z-index: 1;
}

.form__input {
    box-sizing: border-box;
    padding: 15px;
    height: 80px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: #626262;


}

/* .form__input--nosend{
    border:2px solid red;
} */

.form__city{
    display: flex;
    gap: 23px;

}

.form__input-city {
    width: 100%;
}

.form__input-message{
    height: 150px;
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    resize: none;
}

.btn__form{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;

    padding: 25px 160px;
    border: 1px solid #fff;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}
.btn__form:hover{
    background-color: #fff;
    color: black;
    opacity: 1;
}


/* footer */

.footer{
    padding-top: 100px;
    padding-bottom: 50px;
    overflow: hidden;
}

.footer__container{
    position: relative;
}

.footer__container::before{
    content: "";
    position: absolute;
    left: -170px;
    bottom: -200px;
    z-index: -1;

    width: 400px;
    height: 400px;

    background: linear-gradient(12deg, #F010BF 3%, #0066FF 97%);
    opacity: 0.3;
    filter: blur(125px);
    transform: rotate(6deg);


}

.footer__row-cta{

    flex-direction: column;
    gap: 30px;

    margin-bottom: 120px;


}

.footer__row-cta .cta__text{
    
    font-size: 24px;
}

.footer__row-cta .cta__img{
    height: 80px;
}

.cta__links{
    gap: 60px;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: "Avenir";
    font-weight: 900; 
    font-size: 18px;

}

.footer__content {
    /* display: flex;
    flex-direction: column;
    gap: 15px; */

}

.footer__logo-link {

}

.footer__contact {

}

.footer__copy {

}

.footer__links {
    /* display: flex;
    flex-direction: column;
    gap: 15px; */
}

.footer__link {

}

.footer__row > * {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cookie{
    background-color:#212834 ;
    padding: 22px 0;
}

.cookie .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn__cookie{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 130px;
    height: 50px;
    background-color:#373E48;
    color: #fff;
    border-radius: 5px;
    border: solid #fff 1px;

    transition:background-color 0.3s, color 0.3s ;
} 
.btn__cookie:hover{
    background-color:#ffffffd8;
    color: #212834;
    opacity: 1;
}
.support{
    padding: 50px 0;
    margin-bottom: 100px;
}

.support .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}

.support__form{
    display: flex;
    flex-direction: column;
    justify-content: center;


    box-sizing: border-box;
    padding: 60px 50px;
    width: 500px;
    height: 300px;
    border: solid #626262 1px;
    border-radius: 20px;

    transition: background-color 0.3s;

}

.support__form:hover{
    background-color: #6262626e;
}

.support__text{
    font-size: 30px;
    max-width: 85%;
    font-weight: 700;
    margin-bottom: 30px;
}

.support__link{
    font-size: 24px;
    font-weight: 300;
    text-decoration: underline;
}


@media(max-width:940px){
    .welcome__image{
        right: -190px;
    }
    .welcome__row-cta{
        padding-right: 0;
    }
    .cta__text{
        font-size: 24px;
    }

    .mission__img{
        right: 60%;
    }
    .mission{
        padding: 150px 0;

    }

    .common__id-desc{
        max-width: 380px;
    }
    .common__qr-desc{
        max-width: 380px;
    }

    .mission__desc{
        width: unset;
        max-width: 380px;
    }

    .common .container{
        flex-direction: column-reverse;
        align-items: unset;
        gap: 70px;
    }

    .common__id-desc, .common__qr-desc{
        max-width: 100%;
    }

    .common__images{
        align-self: center;
    }
    .common__img{

        width: 280px;
    }
    .common__bi .common__img{
        width: 100%;
    }
    .common__bi-desc .common__text{
        max-width: 100%;
    }
    .common__qr{
        position: relative;
    }
    .common__qr::after{
        display: none;
    }

    .common__qr .container::after{
        left: 100px;
        top: 42%;

    }

    .common__qr::before{
        content: "";
        display: block;
        width: 100%;
        height: 600px;


        background: linear-gradient(180deg, black -2% , rgba(0,0,0,0) 56%, black 84%), url(../img/marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg);
        background-size: cover;
        background-position:center;


        margin-bottom: -150px;
    }
    .common__qr-bg{
        display: none;
    }

    .common__qr-about{

        flex-direction: column-reverse;
        align-items: center;
        gap: 0;
        margin-top: unset;
        position: relative;
    }

    .common__qr-about::after{
        content: "";
        width: 100%;
        height: 100%;
        background:linear-gradient(90deg, black 0% , rgba(0,0,0,0) 40%, black 86%), url(../img/ash-edmonds-fsI-_MRsic0-unsplash.jpg) ;
        background-repeat: no-repeat;
        position: absolute;
        
        right: -200px;
        bottom: -300px;
        z-index: -1;
    }


    .common__img-qr--mobile{
        width: 280px;
        position: static;
        margin-bottom: 50px;
    }
    .cta__links-qr{

        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 240px;
    }
    .cta__img-qr{
        width: 185px;
        height: 60px;
    }
    .scanner__qr{
        padding-top: 130px;
    }
    .scanner__qr .container{
        display: flex;
        flex-direction: column-reverse;
    }
    .scanner__qr .container::after{

        right:-80px;
        bottom: -10%;
    
    
    }

    .scanner__qr .container::before{
        left: -15%;
        bottom: -42%;

    }
    

    .scanner__qr-desc{
        margin-bottom: 70px;
    }

    .scanner__qr-image::after{
        right: 150px;
        top: 200px;
        transform: rotate(30deg);
    }
    .scanner__qr-image::before{
        top: unset;
        right: 80px;
        top: 250px;
    }
    .ordering__desc {

        margin-bottom: 170px;
    }
    .ordering__image::after{
        font-size: 20px;
        width: 210px;
        padding: 22px;
    
        left: 50px;
        top: -140px;
    }
    
    .ordering__image::before{
        font-size: 20px;
        width: 210px;
        padding: 22px;
    
        left: 450px;
        top: 200px;
        
    }
    
    .ordering__bx{
        font-size: 20px;
        max-width: 185px;
        padding: 20px;

    
    
        right: 20px;
        bottom: 0px;
    }
    
    .ordering__bx-skip{
        font-size: 20px;
        position: absolute;
        padding: 20px 20px;
    
    
        left: 100px;
        bottom: 190px;
    }
    .cookie__text{
        width: 80%;
    }
}

@media(max-width:767px){
    .header{
        padding: 20px 0;
    }
    .header__cube{
        width: 70px;
    }
    .header__notab{
        width: 70px;
    }
    .header .container{
        justify-content: space-between;
        gap: 0;
    }

    .header__login img{
        display: none;
    }
    .welcome__row {
        min-height: 420px;
        margin-bottom: 40px;
    }
    .welcome__title{
        font-size: 35px;
        margin-bottom: 25px;
        
    }
    .welcome__text{
        padding-left: 0;
        font-size: 16px;
        width: 60%;
    }
    .welcome__text::before, .welcome__text::after{
        display: none;
    }
    .welcome__image{
        width: 350px;
        right: -60px;
        top: -60px;
    }
    .welcome__row-cta .cta__img{
        height: 60px;
        width: 200px;

    }

    .welcome__container::after{
        width: 700px;
        height: 826px;

        right: -140px;
        top: -190px;

        background-image: url(../img/bg-welcome-mobile.svg);
        background-size: contain;
        background-repeat: no-repeat;
        transform: rotate(-90deg);

    }

    .footer__row-cta .cta__img{
        height: 60px;
        width: 200px;

    }
    .cta{
        flex-direction: column;
        gap: 40px;
    }
    .cta__links{
        display: flex;
        flex-direction: column;
        gap: 25px;
        
    }
    .mission{
        padding: 50px 0 0;
    }
    .mission__img{
        position: static;
        transform: none;
        width: 320px;
        align-self: center;
        margin-top: -20px;


    }
    .mission .container{

        display: flex;
        flex-direction: column-reverse;

        

    }
    .mission__desc{
        margin-left: unset;
        max-width: unset;
    }
    .mission__title{
        margin-bottom: 25px;
    }

    .mission__title::after{
        right: auto;
        left: -24px;
        top: -28px;
    }

    h2{
        font-size: 24px;
    }
    body{
        font-size: 16px;
    }
    .common{
        margin-top: 70px;
        padding: 0;
    }
    .common__id{
        margin-top: 0;
    }
    .common__id, .common__qr{
        background: none;
    }
    .common__id::before{
        content: "";
        display: block;
        width: 100%;
        height: 300px;

        background: linear-gradient(180deg, black -2% , rgba(0,0,0,0) 56%, black 84%), url(../img/louis-hansel-shotsoflouis-_6ZqQc02NYc-unsplash.jpg);
        background-size: cover;


        margin-bottom: -50px;
    }

    .common__qr-about::after{
        background:linear-gradient(90deg, black 0% , rgba(0,0,0,0) 60%, black 86%), url(../img/ash-edmonds-fsI-_MRsic0-unsplash.jpg) ;
        background-repeat: no-repeat;
        right: -100px;
    }

    .common .container{
        flex-direction: column-reverse;
        align-items: unset;
        gap: 70px;
    }

    .common__qr .container::after{
        left:100px;
        top: 42%;

    }

    .common__id-desc, .common__qr-desc{
        max-width: 100%;
    }
    .common__images{
        flex-direction: column;
    }  
    .common__img{
        width: 200px;
    } 

    .common__qr::before{
        content: "";
        display: block;
        width: 100%;
        height: 300px;

        background: linear-gradient(180deg, black -2% , rgba(0,0,0,0) 56%, black 84%), url(../img/marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg);
        background-size: cover;
        background-position:center;


        margin-bottom: -50px;
    }

    .scanner__qr .container::after{
        right:-130px;
        bottom: -25%;
    }    
    .scanner__qr .container::before{
        left: -15%;
        bottom: -38%;

    }
    

    .scanner__qr-desc{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 70px;
    }
    .scanner__qr-text{
        max-width: 100%;
    }

    .scanner__qr-image::after{
        right: 150px;
        top: 200px;
        transform: rotate(30deg);
    }
    .scanner__qr-image::before{
        top: unset;
        right: 80px;
        top: 250px;
    }

    .ordering__desc {
        margin-left: 0;
        margin-bottom: 220px;
    }
    .ordering__image::after{

        left: 50px;
        top: -120px;
    }
    
    .ordering__image::before{

    
        left: 50%;
        top: 130px;
        
    }
    
    .ordering__bx{
        font-size: 20px;
        max-width: 185px;
        padding: 20px;

    
    
        right: 20px;
        bottom: 0px;
    }
    
    .ordering__bx-skip{
        font-size: 20px;
        position: absolute;
        padding: 20px 20px;
    
    
        left: 100px;
        bottom: 190px;
    }

    .footer{
        padding: 70px 30px;

    }
    .footer__row-cta{
        margin-bottom: 60px;
    }
    .footer__row{
        flex-direction: column-reverse;
        text-align: center;
        gap: 60px;


    }
    .footer__contact{
        gap: 12px;
    }

    .cookie__text{
        width: 55%;
    }

}

@media (max-width:660px){
    .scanner__qr-image::after{
        top: unset;
        right: 150px;
        bottom: -10px;
        transform: rotate(30deg);
    }
    .scanner__qr-image::before{
        top: unset;
        right: 80px;
        bottom: -60px;
    }
}


@media (max-width:520px){
    .welcome__image{
       right: -160px;
    }
    .header__cube{
        width: 50px;
    }
    .header__notab{
        width: 50px;
    }
    .header__login{
        font-size: 15px;
    }
    .common__qr .container::after{
        left: 15px;
        top: 43%;

    }
    .common__qr-about::after{
        width: 100%;
        background: url(../img/ash-edmonds-fsI-_MRsic0-unsplash\(mobile\).png) ;
        background-repeat: no-repeat;
        background-size: contain;
        right:  -40px;
        bottom: -400px;
    }
    .scanner__qr-image::after{
        top: unset;
        right: 100px;
        bottom: -10px;
        transform: rotate(30deg);
    }
    .scanner__qr-image::before{
        top: unset;
        right: 30px;
        bottom: -60px;
    }

    .ordering__desc {
        width: 100%;
        margin-left: 0;
        margin-bottom: 220px;
    }
    .ordering-text{
        width: 100%;
    }
    .ordering__image::after{
        font-size: 14px;
        width: 150px;
        padding: 12px;
        left: 50px;
        top: -100px;
    }
    
    .ordering__image::before{
        font-size: 14px;
        width: 150px;
        padding: 12px;
        left: 50%;
        top: 130px;
        
    }
    
    .ordering__bx{
        
        font-size: 14px;
        width: 90px;
        padding: 12px;
    
    
        right: 20px;
        bottom: 0px;
    }
    
    .ordering__bx-skip{
        font-size: 14px;
        padding: 12px;
    
    
        left: 60px;
        bottom: 60px;
    }
    .support__form{
        padding: 60px 40px;
    }
    .support__text{
        font-size: 24px;
    }

}

@media (max-width:420px){
    .welcome__title{
        max-width: 70%;
    }
    .common__qr-about::after{
        width: 120%;
        right:  -80px;
        bottom: -470px;
    }
    .common__qr .container::after{

        left: 15px;
        top: 40%;

    }
    .scanner__qr-image::after{
        top: unset;
        left: 40px;
        bottom: -25px;
        transform: rotate(100deg);

        

    }
    .scanner__qr-image::before{
        top: unset;
        left: -100px;
        bottom: -60px;
    }
    .ordering__desc {
        width: 100%;
        margin-left: 0;
        margin-bottom: 200px;
    }
    .ordering__image::after{
        font-size: 14px;
        width: 150px;
        padding: 12px;
        left: 20px;
        top: -100px;
    }
    
    .ordering__image::before{
        font-size: 14px;
        width: 150px;
        padding: 12px;
        left: 50%;
        top: 50px;
        
    }
    
    .ordering__bx{
        
        font-size: 14px;
        width: 90px;
        padding: 12px;
    
    
        right: 20px;
        bottom: -60px;
    }
    
    .ordering__bx-skip{
        font-size: 14px;
        padding: 12px;
    
    
        left: 20px;
        bottom: 60px;
    }

    .form__city{
        gap: 13px;
    }

    .btn__form{
        padding: 25px 100px;
    }
    
}
@media (max-width:350px){
    .ordering__image::after{
        font-size: 14px;
        width: 150px;
        padding: 12px;
        left: 20px;
        top: -100px;
    }
    
    .ordering__image::before{
        font-size: 14px;
        width: 150px;
        padding: 12px;
        left: 40%;
        top: 50px;
        
    }
}