@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body{
    background-color: #121517;
    font-family: "Montserrat", sans-serif;
}

h1,h2,h3,h4,h5,h6,p,ul,a,li{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    color: #fff;
}

p{
    color: #D9D9D9;
    line-height: 30px;
}

.span{
    background: linear-gradient(to right, #35C66B, #237249);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul{
    list-style: none;
}

a{
    color: #D9D9D9;
    text-decoration: none;
}

.container {
    box-sizing: border-box;
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;

}

/* section header */

.header {
    padding: 30px 0;
}
.header .container {
    display: flex;
    align-items: center;
    gap: 94px ;

}
.header__list {
    display: flex;
    gap: 94px;

}
.header__nav{
    font-size: 20px;
}


.header__nav-link{
    position: relative;

    transition: color 0.3s;
}

.header__nav-link:hover{
    color: #fff;
}

.header__nav-link:hover::before{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.3s;
}

.header__nav-link::before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fff;

    position: absolute;
    left: 0;
    bottom: -5px;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
    
}



/* section welcome */

.welcome {
    padding-top: 50px;
    position: relative;
}

.welcome::before{
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../img/welcome-lines.svg);
    background-repeat: no-repeat;

    position: absolute;
    right: -47%;
    z-index: -10;
    bottom: -35%;
}

.welcome .container {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.welcome__text {
    display: flex;
    flex-direction: column;
    gap: 54px;
    position: relative;
}

.welcome__text::after{
    content: "";
    width: 324px;
    height: 324px;
    background: #237249;
    border-radius: 50%;
    filter: blur(60px);
    opacity: 0.2;


    position: absolute;
    z-index: -10;
    top: -30px;
    left: -30px;
}

.welcome__title {
    font-size: 80px;
    font-weight: 800;
}   


.welcome__desc {
    font-size: 20px;
    width: 575px;

    line-height: 30px;
    letter-spacing: -2%;
}

.welcome__btn{
    display: flex;
    gap: 20px;
}

.btn {
    background: linear-gradient(to right, #35C66B, #237249);
    padding: 20px 78px;
    border-radius: 50px;
    color: #fff;

    font-size: 24px;
}


.btn__more {
    box-sizing: border-box;
    display: block;
    border: #D9D9D9 1px solid;
    width: 168px;
    padding: 19px 54px;
    border-radius: 50px;
    font-size: 24px;

    transition: background-color 0.3s, color 0.3s;
}

.btn__more:hover{
    background-color: #D9D9D9;
    color: #121517;
}

.welcome__box {
    display: flex;
    gap: 46px;

}

.box__info {
    width: 125px;
}

.box__title {
    font-size: 60px;
    font-weight: 400;

}

.box__desc {
    font-size: 20px;
    line-height: 30px;
    
}

.welcome__image{
    position: relative;
}

.welcome__image::before{
    content: "";
    width: 324px;
    height: 324px;
    background: #35C66B;
    border-radius: 50%;
    filter: blur(60px);
    opacity: 0.5;


    position: absolute;
    z-index: -10;
    bottom: 10px;
    right: 30px;
}

/* section wehave */

.wehave {
    padding-top: 110px;
}

.wehave .container {
    display: flex;
    justify-content: center;

}

.wehave__block {
    box-sizing: border-box;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 130px;
    width: 1030px;
    height: 372px;
    background-color: #E5E5E5;

    border-radius: 45px;
    position: relative;
}

.wehave__block::after{
    content: '';
    width: 100%;
    height: 100%;
    background: url(../img/star.svg);
    background-repeat: no-repeat;

    position: absolute;
    left: -100px;
    top: -100px;
}

.wehave__block::before{
    content: "";
    width: 324px;
    height: 324px;
    background: #35C66B;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.4;


    position: absolute;
    z-index: -10;
    left: -60px;
}
      



.wehave__block-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 210px;
}


.wehave__circle{
    display: flex;
    justify-content: center;
    align-items: center;

    background:linear-gradient(to right, #35C66B, #237249);
    width: 148px;
    height: 148px;
    border-radius: 50%;
    box-shadow: 2px 2px 15px  rgba(0, 0, 0, 0.4);

    margin-bottom: 30px;
}


.wehave__text{

}

.wehave__title {
    font-size: 32px;
    font-weight: 500;
    color: #121517;
    margin-bottom: 10px;
}

.wehave__desc {
    font-size: 20px;
    font-weight: 400;
    color: #121517;
    line-height: 30px;
    
}

/* section wemake */
.wemake{
    padding: 130px 0;
    position: relative;
    

}

.wemake::before{
    content: "";
    width: 70%;
    height: 70%;
    background-image: url(../img/wemake-lines.svg);
    background-repeat: no-repeat;
    background-size: cover;



    position: absolute;
    right: -2%;
    z-index: -10;
    bottom: 0%;
}
.wemake .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wemake__image{
    width: 465px;
    height: 680px;
    box-shadow: #237249 -40px 40px 0px;
}
.wemake__img{
    width: 465px;
    /* -webkit-mask-image: url(../img/wemake.svg); */
    mask-image: url(../img/wemake.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;


}


.wemake__title{
    margin-bottom: 63px;
}
.wemake__desc{
    margin-bottom: 63px;
}

.wemake__text{
    width: 470px;
    font-size: 20px;
    position: relative;
    

}

.wemake__text::after{
    content: "";
    width: 324px;
    height: 324px;
    background: #237249;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.3;


    position: absolute;
    right: -20px;
    top: -70px;
    z-index: -10;

}

.wemake__img-text{
    width: 465px;
    height: 275px;
    mask-image: url(../img/wemake2.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;

}
.wemake__image-text{
    position: relative;
}
.wemake__image-text::after{
    content: "";
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.4;


    position: absolute;
    right: 75%;
    bottom: 10px;
    z-index: -10;
}

/* ourproducts */

.ourproducts {

}

.ourproducts .container {
    display: flex;
    flex-direction: column;
}

.ourproducts__text {
    display: flex;
    align-items: center;
    gap: 70px;
    margin-bottom: 65px;

}
.ourproducts__title{
    width: 400px;
}

.ourproducts__desc {
    width: 440px;
    font-size: 20px;
}




.ourproducts__block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
}

.ourproducts__card{
    box-sizing: border-box;
    width: 277px;
    padding: 50px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 20px;
    border: 1px solid rgba(218, 218, 218, 0.7);
    
    position: relative;

    /* linear-gradient(79deg, rgba(218,218,218,1) 0%, rgba(222,222,222,0.07) 42%, rgba(218,218,218,1) 100%); */
    transition: border-color 0.4s;
}
.ourproducts__card:hover{
    border-color: #35C66B;
    transition: content 0.4s;
}



.ourproducts__card:hover::after{
    content: "";
    width: 200px;
    height: 200px;
    background-color: #237249;
    border-radius: 50%;
    filter: blur(50px);
    opacity: 0.4;


    position: absolute;
    right: 30px;
    top: 60px;
    z-index: -10;

}

.ourproducts__circle{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 186px;
    height: 186px;
    background:linear-gradient(to right, #35C66B, #237249) ;
    border-radius: 100%;

    margin-bottom: 40px;


}
.ourproducts__img{
    
}

.ourproducts__card-title{
    color:#D9D9D9 ;
}

.ourproducts__card-desc{
    color: #D9D9D9;
    margin-bottom: 15px;
}

.ourproducts__card-price{
    display: flex;
    align-items: end;
    gap: 35px;
    margin-bottom: 30px;
}

.price{
    font-weight: 500;
    font-size: 32px;

}

.ourproducts__btn{
    font-weight: 600;
    padding: 15px 39px;
    font-size: 18px;
}

/* section events */

.events {
    padding-top: 100px;
    position: relative;
}

.events::after{
    content: "";
    width: 100%;
    height: 1005px;
    background: url(../img/wemake-lines.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(-5deg);
    
    position: absolute;
    left: -73%;
    top: -140px;
    z-index: -10;
}

.container {

}

.events__text {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 72px;
}

.events__title{
    width: 400px;
    margin-bottom: 55px;
}

.events__desc{
    width: 470px;
    font-size: 20px;
}
.events__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;



}


.events__cards-big{
    display: flex;
    flex-direction: row;
    gap: 23px;
}

.events__card-big{
    box-sizing: border-box;
    width: 615px;
    height: 260px;
    padding: 30px 0 0 30px;
    border-radius: 20px;

    transition: background-size 0.5s;
}


.events__card-big:hover{
    background-size: 110%;
}


.events__card-big .events__card-title{
    width: 40%;
}

.events__card-big1{
    background: url(../img/events/1.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;


}



.events__card-big2{
    background: url(../img/events/2.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;


}



.events__cards-mini{
    display:flex;
    flex-direction: row;

    gap: 23px;
}



.events__card-mini{
    box-sizing: border-box;
    width: 400px;
    height: 260px;
    padding: 30px 0 0 30px;
    border-radius: 20px;
}

.events__card-mini:hover{
    background-size: 110%;
}

.events__card-mini1{
    background: url(../img/events/3.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

.events__card-mini2{
    background: url(../img/events/4.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}


.events__card-mini3{
    background: url(../img/events/5.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

.events__card-mini .events__card-title{
    width: 80%;
}


.events__card-title{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 45px;
}

.events__btn{
    background:linear-gradient(to right, #35C66B, #237249) ;
    border:none;
    padding: 19px 50px;
    font-size: 24px;

    transition:  0.3s;
}

.events__btn:hover{
    padding: 19px 60px;
    
}

/* section contacts */

.contacts{
    padding: 150px 0 ;
    position: relative;
}

.contacts::after{
    content: "";
    width: 80%;
    height: 80%;
    background: url(../img/contacts-lines.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    position: absolute;
    z-index: -10;
    top: 45%;
    right: 0%;


}

.contacts .container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;
}

.contacts__image{
    height: 520px;
    box-shadow: #237249 30px 30px 0px;
    position: relative;
    

}

.contacts__image::after{
    content: "";
    width: 200px;
    height: 200px;
    background: #35C66B;
    border-radius: 50%;
    filter: blur(60px);
    opacity: 0.3;


    position: absolute;
    z-index: -10;
    top: -70px;
    left: -80px;
}

.contacts__image::before{
    content: '';
    width: 100%;
    height: 100%;
    background: url(../img/star.svg);
    background-repeat: no-repeat;

    position: absolute;
    top: -90px;
    left: -100px;
}

.contacts__img{
    width: 354px;
    height: 520px;
    box-shadow:5px 5px 15px  rgba(0, 0, 0, 0.4);

}

.contacts__phone{
    font-weight: 500;
    font-size: 32px;
    position: relative;
    padding-left: 60px;
}

.contacts__phone::before{
    content: "";
    width: 44px;
    height: 44px;
    background: url(../icons/phone.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: -7px;


}

.contacts__text{
    width: 470px;
    font-size: 20px;
    position: relative;
    


}

.contacts__desc{
    width: 400px;
}

.contacts__text::after{
    content: "";
    width: 200px;
    height: 200px;
    background: #237249;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.4;


    position: absolute;
    right: 200px;
    top: 200px;
    z-index: -10;

}

/* footer */
.footer{
    padding: 50px 0 100px 0;
    background-color: #0B0C0D;
}

.footer .container{
    display: flex;
    justify-content: space-between;
}


.footer__block-nav{
    display: flex;
    gap: 82px;

}

.footer__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    color: #D9D9D9;
    font-weight: 500;
}
.footer__nav{
    color: rgba(187, 179, 179, 0.43);
    transition: color 0.3s;
    position: relative;
}

.footer__nav:hover{
    color:#D9D9D9;
}

.footer__nav:hover::before{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.3s;
}

.footer__nav::before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;

    position: absolute;
    bottom: -2px;
    left: 0;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;

}